# global owners
*                           @laisolizq @krlosMata @invocamanman @ignasirv

# evm custom tooling
/tools-calldata/evm/        @laisolizq

# ethereum test vectors tooling
/tools/ethereum-tests/      @laisolizq

# benchmarks tooling
/tools/benchmark/           @ignasirv

# coverage tooling
/tools/coverage/            @krlosMata

# out-of-counters tests
tools/out-of-counters/      @laisolizq

# proverC inputs tooling
/tools/proverc-run-inputs/  @ignasirv