node_modules
.vscode
package-lock.json

#Hardhat files
cache
artifacts

evm-stack-logs

# tool print opcodes
./tools/print-opcodes/input.data
./tools/print-opcodes/output.json

tools-inputs/tools-eth/tests
tools-inputs/tools-eth/eth-inputs
tools-inputs/tools-eth/zkproverjs
tools-inputs/tools-eth/times*
tools-inputs/tools-eth/info-output-*
inputs-integration
errors.txt
info.txt
info-30M.txt
info-inputs.txt
info-output.txt
tools-inputs/tools-eth/final-table.txt
tools-inputs/tools-eth/.DS_Store
all-info.txt
all-info-2.txt

tools-inputs/tools-calldata/.DS_Store
tools/benchmark/inputs
tools/benchmark/.DS_Store

tools/coverage/reports
tools/benchmark/benchmark_config.json
tools/.DS_Store

.DS_Store

tools/testnet/.env

tools-inputs/tools-eth/tests-parallel/parallel-tests
tools-inputs/tools-eth/tests-parallel/parallel-tests
tools/coverage/reports*