node_modules
.vscode
package-lock.json

#Hardhat files
cache
artifacts

evm-stack-logs

# tool print opcodes
./tools/print-opcodes/input.data
./tools/print-opcodes/output.json

*-ignore.json
tools/ethereum-tests/tests