node_modules
.vscode
package-lock.json

#Hardhat files
cache
artifacts

evm-stack-logs

# tool print opcodes
./tools/print-opcodes/input.data
./tools/print-opcodes/output.json

tools/ethereum-tests/tests
tools/ethereum-tests/eth-inputs
tools/ethereum-tests/zkproverjs
tools/ethereum-tests/times*
tools/ethereum-tests/info-output-*
inputs-integration
errors.txt
info.txt
info-inputs.txt
info-output.txt
tools/ethereum-tests/final-table.txt
tools/ethereum-tests/.DS_Store

tools-calldata/evm/.DS_Store
tools/benchmark/inputs
tools/benchmark/.DS_Store

tools/coverage/reports
tools/benchmark/benchmark_config.json